<section>
  <div class="container">
    <div class="row">
      <div class="card col col-lg-12">
        <h5 class="card-header">Country Lookup</h5>
        <div class="card-body">
        <h5 class="card-title">Country Management</h5>
        <p class="card-text">Add, edit, update and delete</p>
        <div class="pt-3"></div>

        <button class="btn btn-secondary" (click)="addRow()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-success mx-5" (click)="submitCountries()"><i class="fa fa-check"></i></button>

        <div class="pt-3"></div>
        <table id="countries-table" class="table table-striped table-hover table-responsive-lg">
          <thead>
            <tr>
              <th class="th-sm">English Name</th>
              <th class="th-sm">Arabic Name</th>
              <th class="th-sm">Code</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of countries" [@fadeInOut]>
              <td>
                <span [hidden]="country.markedAsEditingNow">{{country.nameEn}}</span>
                <input type="text" [hidden]="!country.markedAsEditingNow" [(ngModel)]="country.nameEn" class="form-control" [@fadeInOut]/>
              </td>
              <td>
                <span [hidden]="country.markedAsEditingNow">{{country.nameAr}}</span>
                <input type="text"  [hidden]="!country.markedAsEditingNow" [(ngModel)]="country.nameAr" class="form-control" [@fadeInOut]/>
              </td>
              <td>
                <span [hidden]="country.markedAsEditingNow">{{country.code}}</span>
                <input type="text"  [hidden]="!country.markedAsEditingNow" [(ngModel)]="country.code" class="form-control" [@fadeInOut]/>
              </td>
              <td>
                <i class="fas fa-pencil-alt" id="dd" aria-hidden="true" style="cursor:pointer;" onclick="makeSpanEditable(this)"></i>
              </td>
              <td>
                <i class="fa fa-check" aria-hidden="true" style="cursor:pointer;" onclick="submitEditedInputText(this);"></i>
              </td>
              <td>
                <i class="fa fa-trash" aria-hidden="true" style="cursor:pointer;" onclick="deleteRow(this)"></i>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  </section>
