<section>
  <div class="container">
    <div class="row">
      <div class="card col col-lg-12">
        <h5 class="card-header">Country Lookup</h5>
        <div class="card-body">
        <h5 class="card-title">Country Management</h5>
        <p class="card-text">Add, edit, update and delete</p>
        <div class="pt-3"></div>

        <button class="btn btn-secondary" (click)="addRow()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-success mx-5" (click)="submitAllCountries()"><i class="fa fa-check"></i></button>

        <div class="pt-3"></div>
        <table id="countries-table" class="table table-striped table-hover table-responsive-lg">
          <thead>
            <tr>
              <th class="th-sm">English Name</th>
              <th class="th-sm">Arabic Name</th>
              <th class="th-sm">Code</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of countries | paginate: countriesPaination.page : countriesPaination" [@fadeInOut]>
              <td>
                <span [hidden]="country.markedAsEditingNow">{{country.countryId}}</span>
                <input type="text" [hidden]="!country.markedAsEditingNow" [(ngModel)]="country.tempEiditingCountry.nameEn"
                class="form-control" [@fadeInOut] required #nameEn="ngModel"/>
                <div *ngIf="nameEn.errors?.required && nameEn.touched" class="alert alert-danger">{{'VALIDATIONS.REQUIRED' | translate}}</div>
              </td>
              <td>
                <span [hidden]="country.markedAsEditingNow">{{country.nameAr}}</span>
                <input type="text"  [hidden]="!country.markedAsEditingNow" [(ngModel)]="country.tempEiditingCountry.nameAr"
                class="form-control" [@fadeInOut] required #nameAr="ngModel"/>
                <div *ngIf="nameAr.errors?.required && nameAr.touched" class="alert alert-danger">{{'VALIDATIONS.REQUIRED' | translate}}</div>
              </td>
              <td>
                <span [hidden]="country.markedAsEditingNow">{{country.code}}</span>
                <input type="text"  [hidden]="!country.markedAsEditingNow" [(ngModel)]="country.tempEiditingCountry.code"
                class="form-control" [@fadeInOut] required #code="ngModel"/>
                <div *ngIf="code.errors?.required && code.touched" class="alert alert-danger">{{'VALIDATIONS.REQUIRED' | translate}}</div>
              </td>
              <td>
                <i class="fas fa-pencil-alt" id="dd" aria-hidden="true" style="cursor:pointer;" (click)="editCountry(country)"></i>
              </td>
              <td>
                <i class="fa fa-check" aria-hidden="true" style="cursor:pointer;" (click)="applyEditedCountry(country)"></i>
              </td>
              <td>
                <i class="fa fa-trash" aria-hidden="true" style="cursor:pointer;" (click)="deleteCountry(country)"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <app-pagination [collection]="countries" #countriesPaination></app-pagination>

        </div>
      </div>
    </div>
  </div>
  </section>
