<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="card col col-lg-10">
                <h3 class="card-header text-center p-3 mb-2 bg-info text-white">About Me</h3>
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">Say descriptive words about yourself</p>
                    <div class="pt-3"></div>
                    <button class="btn btn-secondary" onclick="saveAboutMe('summernote')"><i
                            class="fa fa-save"></i></button>
                    <button class="btn btn-secondary mx-5" onclick="insertMarkupsIntoEditor('summernote')"><i
                            class="fas fa-microscope"></i></button>
                    <div class="pt-3"></div>
                    <div id="summernote" class="summernote-editor"></div>
                </div>
            </div>
        </div>
    </div>
</section>