<div class="spinner-grow text-light" role="status" [hidden]="!serverIsProcessing">
  <span class="sr-only">Loading...</span>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="card col col-lg-12">
        <h5 class="card-header">Area Lookup</h5>
        <div class="card-body">
        <h5 class="card-title">Area Management</h5>
        <p class="card-text">Add, edit, update and delete</p>
        <div class="pt-3"></div>

        <button class="btn btn-secondary" (click)="addRow()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-success mx-5" (click)="submitAllAreas()" [disabled]="numberOfUnderEditAreas!=0">
          <i class="fa fa-check" *ngIf="!serverIsProcessing"></i>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="serverIsProcessing"></span>
        </button>

        <div class="pt-3" [hidden]="!message"></div>

        <ngb-alert *ngIf="message" [type]="alertType" (close)="message = null">{{ message }}</ngb-alert>

        <div class="pt-3"></div>
        <table id="areas-table" class="table table-striped table-hover table-responsive-lg">
          <thead>
            <tr>
              <th class="th-sm">English Name</th>
              <th class="th-sm">Arabic Name</th>
              <th class="th-sm">Code</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let area of areas | paginate: areasPaination.page : areasPaination" [@fadeInOut]>
              <td>
                <span [hidden]="area.markedAsEditingNow">{{area.areaNameEn}}</span>
                <input type="text" [hidden]="!area.markedAsEditingNow" [(ngModel)]="area.tempEiditingArea.areaNameEn"
                class="form-control" [@fadeInOut] required #areaNameEn="ngModel"/>
                <div *ngIf="areaNameEn.errors?.required && areaNameEn.touched" class="alert alert-danger">{{'VALIDATIONS.REQUIRED' | translate}}</div>
              </td>
              <td>
                <span [hidden]="area.markedAsEditingNow">{{area.areaNameAr}}</span>
                <input type="text"  [hidden]="!area.markedAsEditingNow" [(ngModel)]="area.tempEiditingArea.areaNameAr"
                class="form-control" [@fadeInOut] required #areaNameAr="ngModel"/>
                <div *ngIf="areaNameAr.errors?.required && areaNameAr.touched" class="alert alert-danger">{{'VALIDATIONS.REQUIRED' | translate}}</div>
              </td>
              <td>
                <span [hidden]="area.markedAsEditingNow">{{area.code}}</span>
                <input type="text"  [hidden]="!area.markedAsEditingNow" [(ngModel)]="area.tempEditingArea.code"
                class="form-control" [@fadeInOut] required #code="ngModel"/>
                <div *ngIf="code.errors?.required && code.touched" class="alert alert-danger">{{'VALIDATIONS.REQUIRED' | translate}}</div>
              </td>
              <td>
                <i class="fas fa-pencil-alt" id="dd" aria-hidden="true" style="cursor:pointer;" (click)="editarea(area)"></i>
              </td>
              <td>
                <i class="fa fa-check" aria-hidden="true" style="cursor:pointer;" (click)="applyEditedArea(area)"></i>
              </td>
              <td>
                <i class="fa fa-trash" aria-hidden="true" style="cursor:pointer;" (click)="deletearea(area)"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <app-pagination [collection]="areas" #areasPaination></app-pagination>

        </div>
      </div>
    </div>
  </div>
  </section>
