<section>
    <div class="container ">
        <div class="row align-items-center justify-content-center">
            <div class="card col col-lg-10">
                <h2 class="card-header text-center p-3 mb-2 bg-info text-white">Features</h2>
                <div class="card-body">
                    <!--search autocompelete-->

                    <form autocomplete="off" action="/action_page.php"
                        class="row align-items-center justify-content-center">
                        <div class="autocomplete align-items-center" style="width:500px;">
                            <input id="myInput" type="text" name="myfeature" placeholder="Choose or add new feature">
                        </div>
                        <input type="submit">
                    </form>
                    <div class="py-3"></div>

                    <!--table of Icons-->
                    <div class="row  align-items-center justify-content-md-center">
                        <div class="col col-lg-7">
                            <table class="table" *ngIf="profileRequest.user.features">
                                <tr *ngFor="let row of sliceFeaturesArray(profileRequest.user.features)">
                                    <td *ngFor="let feature of row">
                                        <span class="d-flex justify-content-center feature"> <i
                                                [class]="'fas fa-'+feature.uiStyle"></i>
                                        </span>
                                        <div class="text-center"><small class="text-muted">photography</small></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <!--end of body-->
            </div>
        </div>
    </div>
</section>