<app-search-by-phone></app-search-by-phone>
<section class="feature_part padding_top">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-lg-7">
              <div class="feature_img">
                  <img src="assets/img/about_img.png" alt="">
              </div>
          </div>
          <div class="col-lg-5">
              <div class="feature_part_text">
                  <img src="assets/img/section_tittle_img.png" alt="#">
                  <h2>Amazing Search</h2>
            <p>Search for phones</p>
                  <p>Find people, features and locations</p>
            <p>Deliver for nearest drop-point</p>
                  <span>Finding people/features/locations and also delivery services requires registration first</span>
              </div>
          </div>
      </div>
  </div>
  </section>

  <section class="popular_place padding_top">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-5">
              <div class="section_tittle text-center">
                  <img src="assets/img/section_tittle_img.png" alt="">
                  <h2>Most amazing <span>search</span> </h2>
                  <p>try it now!</p>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-6">
              <div class="single_popular_place">
                  <img src="assets/img/icon/place_icon_1.png" alt="">
                  <h4>Search for phone</h4>
                  <p>Please insert a phone number and we will find its details</p>
                  <a href="#" class="btn1">search</a>
              </div>
          </div><div class="col-lg-4 col-sm-6">
              <div class="single_popular_place">
                  <img src="assets/img/icon/place_icon_2.png" alt="">
                  <h4>Find people, features, locations</h4>
                  <p>Search for close people. You can search by features and locations</p>
                  <a href="#" class="btn1">search</a>
              </div>
          </div><div class="col-lg-4 col-sm-6">
              <div class="single_popular_place">
                  <img src="assets/img/icon/place_icon_3.png" alt="">
                  <h4>Delivery</h4>
                  <p>We will deliver your goods to the nearest drop-point safelly</p>
                  <a href="#" class="btn1">Deliver</a>
              </div>
          </div>
      </div>
  </div>
  </section>

  <section class="place_details section_padding">
  <div class="container-fluid">
      <div class="row justify-content-between">
          <div class="col-md-6 col-lg-6">
              <div class="place_detauls_text">
                  <div class="row justify-content-center">
                      <div class="col-lg-8 col-xl-6">
                          <div class="place_details_content">
                              <img src="assets/img/section_tittle_img.png" alt="#">
                              <h2>Amazing Search</h2>
                                <p>Search for phones</p>
                    <p>Find people, features and locations</p>
                    <p>Deliver for nearest drop-point</p>
                              <span>Finding people/features/locations and also delivery services requires registration first</span>
                          </div>
                      </div>
                  </div>
                  <img src="assets/img/plase_details_1.png" alt="#">
              </div>
          </div>
          <div class="col-md-6">
              <div class="place_details_img">
                  <img src="assets/img/contact-people.jpg" alt="#">
              </div>
          </div>
      </div>
  </div>
  <div class="view_all_btn">
      <a href="#" class="view_btn">view all</a>
  </div>
  </section>

  <section class="tour_package section_padding">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-lg-6 col-sm-6">
              <div class="tour_package_cotent owl-carousel">
                  <div class="single_tour_package">
                      <img src="assets/img/gold-package.png" alt="" style="height: 350px;">
                      <div class="tour_pack_content">
                          <h4>Gold Package</h4>
                          <p>Subscribe for a year</p>
                          <div class="tour_content_rating">
                              <ul>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                              </ul>
                              <a href="#" class="btn1">join now</a>
                          </div>
                      </div>
                  </div>
                  <div class="single_tour_package">
                      <img src="assets/img/silver-package.png" alt="" style="height: 350px;">
                      <div class="tour_pack_content">
                          <h4>Silver Package</h4>
                          <p>Subscribe for a month</p>
                          <div class="tour_content_rating">
                              <ul>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                              </ul>
                              <a href="#" class="btn1">join now</a>
                          </div>
                      </div>
                  </div>
            <div class="single_tour_package">
                      <img src="assets/img/mony.jpg" alt="" style="height: 350px;">
                      <div class="tour_pack_content">
                          <h4>Custom Package</h4>
                          <p>Subscribe for 1 day</p>
                          <div class="tour_content_rating">
                              <ul>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                                  <li><a href="#"><i class="fas fa-star"></i></a></li>
                              </ul>
                              <a href="#" class="btn1">join now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 col-xl-3 offset-lg-1 col-sm-6">
              <div class="tour_pack_content">
                  <img src="assets/img/section_tittle_img.png" alt="">
                  <h2>TeleGo packages</h2>
                  <p>TeleGo search for phone is free, but other services are paid</p>
                  <a href="#" class="btn_1">join now</a>
              </div>
          </div>
      </div>
  </div>
  </section>

  <section class="cta_part section_padding">
  <div class="container">
      <div class="row justify-content-center align-items-center">
          <div class="col-lg-8 col-xl-7">
              <div class="cta_text text-center">
                  <h5>Join Our Newsletter</h5>
                  <h2>Subscribe to get Updated
                          with new offers</h2>
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Enter email address" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                      <div class="input-group-append" id="button-addon4">
                          <a href="#" class="subs_btn">subscribe now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>
