.cursor-hand{
  cursor: pointer
}

.modal{
  z-index: 10000 !important;
}

.telego-editable-input{
  display: none;
}

.hidden-empty-row{
  display: none;
}

.transparent-element {
  outline: none;
  border: 0;
  box-shadow: none;
  background-color: transparent !important;
}
.arabic{
  text-align: right;
}
/* input.ng-touched.ng-invalid{
  border-color:#dc3545;
} */

input.ng-invalid{
  border-color:#dc3545;
}

input.ng-touched.ng-valid{
  border-color:#28a745;
}
