<section class="search_your_country">
  <div class="container-fluid">
      <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="search_form">
                  <form action="#">
                      <div class="form-row">
                          <div class="col-lg-9">
                              <div class="search_form_iner">
                                  <select class="custom_select" id="inlineFormCustomSelect">
                                      <option selected>{{'SEARCH.PHONE' | translate}}</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                  </select>
                                  <select class="custom_select" id="inlineFormCustomSelect1">
                                      <option selected>{{'SEARCH.NAME' | translate}}</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-lg-3">
                              <a href="#" class="search_btn">{{'SEARCH.SEARCH' | translate}}</a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="single_donation_item">
                  <img src="assets/img/tour_plan_1.png" alt="#">
                  <h4>Ahmed El-Sabagh</h4>
                  <p>Ahmed  is a good Egyptian developer</p>
                  <a href="#" class="read_btn">Contact</a>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single_donation_item">
                  <img src="assets/img/icon/person.png" alt="#">
                  <h4>Mohamed El-Gewily</h4>
                  <p>Moahmed is the best member</p>
                  <a href="#" class="read_btn">Contact</a>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single_donation_item">
                  <img src="assets/img/tour_plan_2.png" alt="#">
                  <h4>Mariam</h4>
                  <p>Clever girl how can accomplish all tasks easily</p>
                  <a href="#" class="read_btn">Contact</a>
              </div>
          </div>
      </div>
  </div>
  <img src="assets/img/animate_icon/shape-1.png" alt="" class="feature_icon_1">
  <img src="assets/img/animate_icon/shape-2.png" alt="" class="feature_icon_2">
</section>
