<div class="w-50 p-3 mx-auto">
    <ngb-alert *ngIf="message" [type]="alertType" (close)="message = null">{{ message }}</ngb-alert>
</div>

<app-img-pass [profileRequest]="profileRequest"></app-img-pass>

<div class="pt-5"></div>
<app-basic-info [profileRequest]="profileRequest"></app-basic-info>

<div class="pt-5"></div>
<app-features [profileRequest]="profileRequest"></app-features>

<div class="pt-5"></div>
<app-about-me [profileRequest]="profileRequest"></app-about-me>

<div class="pt-5"></div>
<div class="w-50 p-3 mx-auto">
    <ngb-alert *ngIf="message" [type]="alertType" (close)="message = null">{{ message }}</ngb-alert>
</div>

<div class="py-3"></div>
<div class="cob=ntainer">
    <div class="row align-items-center justify-content-center">
        <div class="form-group required">
            <div class="form-group text-left">
                <input class="btn btn-primary" type="button" value="{{'PROFILE.SAVE' | translate}}" (click)="submitProfile()">
            </div>
        </div>
    </div>
</div>