<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="card col col-lg-10">
                <h2 class="card-header text-center p-3 mb-2 bg-info text-white">{{'HEADER.PROFILE' | translate}}</h2>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col col-lg-5 text-center">
                            <!--first col-->
                            <h5 class="card-title">{{'PROFILE.YOUR_IMAGE_LOGIN_CREDENTIALS' | translate}}</h5>
                            <p class="card-text">{{'PROFILE.UPLOAD_VIEW_IMAGE_AND_UPDATE_PASSWORD' | translate}}</p>
                            <div class="pt-3"></div>
                            <img [src]="profileImage" alt="User Image" class="img-thumbnail"
                            
                                id="preview-user-image-thumbnail" *ngIf="profileImage">
                            <img src="assets/img/icon/person.png" alt="User Image" class="img-thumbnail"
                                id="preview-user-image-thumbnail" *ngIf="!profileImage">
                                
                            <div class="pt-3"></div>
                            <button onclick="$('#user-image-upload-button').click();" class="btn btn-primary"><i
                                    class="fas fa-cloud-upload-alt"></i></button>
                            <form class="d-none">
                                <div class="file-field">
                                    <div class="file-path-wrapper">
                                        <input type="file" id="user-image-upload-button"
                                        (change)="onFileSelected($event, 'preview-user-image-thumbnail');">
                                    </div>
                                </div>
                            </form>
                            <div class="pt-3"></div>
                        </div>
                        <!--end firt col-->
                        <!--start second col-->

                        <div class="col col-lg-5">
                            <div class="form-group required">
                                <label for="username" class="control-label" >{{'PROFILE.USERNAME' | translate}}</label>
                                <input type="text" class="form-control" name="loginName" required
                                placeholder="{{'PROFILE.USERNAME' | translate}}" 
                                    [disabled]="profileRequest.user.userId"
                                    [value]="profileRequest.user.loginName"
                                    [(ngModel)]="profileRequest.user.loginName">
                            </div>

                            <div class="form-group required">
                                <label for="password" class="control-label">{{'PROFILE.PASSWORD' | translate}}</label>
                                <input type="text" class="form-control" name="password" required
                                    placeholder="{{'PROFILE.PASSWORD' | translate}}"
                                    [value]="profileRequest.user.loginPassword" [(ngModel)]="profileRequest.user.loginPassword">
                            </div>

                            <div class="form-group required">
                                <label for="confirm-password" class="control-label"> {{'PROFILE.CONFIRM_PASSWORD' | translate}} </label>
                                <input type="text" class="form-control" name="confirmpassword" required
                                    placeholder="{{'PROFILE.CONFIRM_PASSWORD' | translate}}"
                                    [value]="confirmPassword">
                            </div>



                        </div>
                        <!--end second col-->
                    </div>
                    <!--end of row-->
                </div>
            </div>
        </div>
    </div>
</section>