<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="card col col-lg-10">
                <h2 class="card-header text-center p-3 mb-2 bg-info text-white">Profile</h2>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col col-lg-5 text-center">
                            <!--first col-->
                            <h5 class="card-title">Your image, login credentials</h5>
                            <p class="card-text">Upload/view image, and update password</p>
                            <div class="pt-3"></div>
                            <img [src]="profileImage" alt="User Image" class="img-thumbnail"
                                id="preview-user-image-thumbnail" *ngIf="profileImage">
                            <img src="assets/img/icon/person.png" alt="User Image" class="img-thumbnail"
                                id="preview-user-image-thumbnail" *ngIf="!profileImage">
                                
                            <div class="pt-3"></div>
                            <button onclick="$('#user-image-upload-button').click();" class="btn btn-primary"><i
                                    class="fas fa-cloud-upload-alt"></i></button>
                            <form class="d-none">
                                <div class="file-field">
                                    <div class="file-path-wrapper">
                                        <input type="file" id="user-image-upload-button"
                                        (change)="onFileSelected($event, 'preview-user-image-thumbnail');">
                                    </div>
                                </div>
                            </form>
                            <div class="pt-3"></div>
                        </div>
                        <!--end firt col-->
                        <!--start second col-->

                        <div class="col col-lg-5">
                            <div class="form-group required">
                                <label for="password" class="control-label">Password </label>
                                <input type="password" class="form-control" name="password" required
                                    placeholder="password">
                            </div>

                            <div class="form-group required">
                                <label for="password" class="control-label"> Confirm Password </label>
                                <input type="password" class="form-control" name="password" required
                                    placeholder=" confirm password">

                            </div>



                        </div>
                        <!--end second col-->
                    </div>
                    <!--end of row-->
                </div>
            </div>
        </div>
    </div>
</section>